<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <sectionGroup name="indexingSettings" type="VacanciesIndexing.IndexingSettingsSectionGroup, VacanciesIndexingService">
      <section name="general" type="VacanciesIndexing.GeneralSection, VacanciesIndexingService"/>
      <section name="database" type="VacanciesIndexing.DatabaseSection, VacanciesIndexingService"/>
      <section name="yandexRss" type="VacanciesIndexing.YandexRssSection, VacanciesIndexingService"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    <requiredRuntime version="v4.0.20506" />
  </startup>

  <log4net>
    <root>
      <level value="INFO" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <lockingmodel type="log4net.Appender.FileAppender+MinimalLock"/>
      <param name="File" value="IndexingLog.txt" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="1000KB" />
      <staticLogFileName value="true" />
      <datePattern value="yyyy.MM.dd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date&#9;%-5level&#9;%message%newline" />
      </layout>
    </appender>
  </log4net>

  <indexingSettings>
    <general>
      <hoursNumberBetweenIndexingRuns value="1"/>
    </general>
    <database>
      <pathToCreatingObjectsScript value="Database/CreateDatabaseObjects.sql"/>
      <connectionString value="Data Source=(local);Initial Catalog=VacanciesOLTP;Integrated Security=true;"/>
    </database>
    <yandexRss>
      <urlPattern value="http://rabota.yandex.ru/rss.xml?rid=54&amp;currency=RUR&amp;text=программист%20net&amp;top_days=60&amp;page_num={0}"/>
      <possibleDatetimeFormats>
        <datetimeFormatInfo fullDatetimePattern=" dd MMM. yyyy HH:mm:ss zzz"
                            abbreviatedDayNames="Вс Пн Вт Ср Чт Пт Сб"
                            abbreviatedMonthNames="янв фев мар апр май июн июл авг сен окт нояб дек"/>
        <datetimeFormatInfo fullDatetimePattern=" dd MMM yyyy HH:mm:ss zzz"
                            abbreviatedDayNames="Вс Пн Вт Ср Чт Пт Сб"
                            abbreviatedMonthNames="янв фев мар апр май июн июл авг сен окт ноя дек"/>
      </possibleDatetimeFormats>
    </yandexRss>
  </indexingSettings>
  
</configuration>